<div class="viewScreen panel panel-primary">
    <div class="panel-heading">
        <h2 class="text-center">View Users</h2>
    </div>

    <div class="panel-body">
        <div class="table-responsive">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Country</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user._id}}</td>
                        <td>{{user.Name}}</td>
                        <td>{{user.Surname}}</td>
                        <td>{{user.Country}}</td>
                        <td>
                            <a  class="actionButton" [routerLink]="['/edit', user._id]"  title="Modify User"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>

</div>
