<div class="createScreen panel panel-primary">
    <div class="panel-heading">
        <h2 class="text-center">Create New User</h2>
    </div>

    <form [formGroup]="createForm" (ngSubmit)="createForm.valid && create()">
        <div class="panel-body">
            <div class="form-group" [ngClass]="{'has-error':!createForm.controls['Name'].valid && createForm.controls['Name'].touched}">
                <label>Name:</label>
                <input class="form-control" formControlName="Name" placeholder="John">
                <div *ngIf="createForm.controls['Name'].hasError('required') && createForm.controls['Name'].touched" class="alert alert-danger">Name is required</div>
            </div>
            <div class="form-group" [ngClass]="{'has-error':!createForm.controls['Surname'].valid && createForm.controls['Surname'].touched}">
                <label>Surname:</label>
                <input class="form-control" formControlName="Surname" placeholder="Smith">
                <div *ngIf="createForm.controls['Surname'].hasError('required') && createForm.controls['Surname'].touched" class="alert alert-danger">Surname is required</div>
            </div>
            <div class="form-group" [ngClass]="{'has-error':!createForm.controls['Country'].valid && createForm.controls['Country'].touched}">
                <label>Country:</label>
                <select class="form-control" formControlName="Country">
                    <option value="">--Select Country--</option>
                    <option *ngFor="let country of countries" value="{{country.Name}}">{{country.Name}}</option>
                </select>
                <div *ngIf="createForm.controls['Country'].hasError('required') && createForm.controls['Country'].touched" class="alert alert-danger">Country is required</div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit" [disabled]="!createForm.valid">Submit</button>
            <button class="btn btn-primary" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>