<div class="viewScreen">
<h2>View Users</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
<tr>
<th>Id</th>
<th>Name</th>
<th>Surname</th>
<th>Country</th>
<th>Actions</th>
</tr>
        </thead>
        <tbody>
<tr *ngFor = "let user of users">
    <td>{{user.Id}}</td>
<td>{{user.Name}}</td>
<td>{{user.Surname}}</td>
<td>{{user.Country}}</td>
<td>
 <a [routerLink]="['/edit', user.Id]"><span class="glyphicon glyphicon-pencil"></span></a>
</td>
</tr>
</tbody>
    </table>
</div>
</div>