<div *ngIf="user" class = "editScreen">
<h2 class="screenTitle">Edit User Details</h2>
<form [formGroup]="editForm" (ngSubmit)="editForm.valid && update()">
<div class = "form-group">
<label >Name:</label>
<input class="form-control" formControlName="name" placeholder="John">
</div>
<div class = "form-group">
<label >Surname:</label>
<input class="form-control"  formControlName="surname" placeholder="Smith">
</div>
<div class = "form-group">
    <div *ngIf = "countries">
<label >Country:</label>
<select class="form-control"  formControlName="country">
    <option value="">--Select Country--</option>
<option *ngFor="let country of countries" value="{{country.Name}}">{{country.Name}}</option>
</select>
</div>
</div>
<div class = "form-group">
<button class="btn btn-default" type="submit" >Submit</button>
<button class="btn btn-default" (click) = "cancel()">Cancel</button>
</div>
</form>
</div>
